<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <script src="static/scripts/jquery.js"></script>
    <script src="static/scripts/vue.js"></script>
    <title>Автоматизация</title>
</head>
<body>
    <div id="app">
        <div class="formsContainer">
            <div class="inputs">
                <div class="container">
                    <h4>Откуда</h4>
                    <input type="text" name="originCity" id="originCity">
                </div>
                <div class="container">
                    <h4>Куда</h4>
                    <input type="text" name="destinationCity" id="destinationCity">
                </div>
                <div class="container">
                    <h4>Дата отлёта</h4>
                    <input type="date" name="originDate" id="originDate">
                </div>
                <div class="container">
                    <h4>Дата возвращения</h4>
                    <input type="date" name="destinationDate" id="destinationDate">
                </div>
            </div>
            <button>Search</button>
        </div>
        <div class="results">
            {% raw %}
            <div class="ticketsContainer">
                <div class="ticket" v-for="ticket in tickets">
                    <div>Авиакомпании: {{ticket.company}}</div>
                    <div>Цена: {{ticket.price}}</div>
                    <div>Вылет: {{ticket.fromOrigin.originTime}}</div>
                    <div>Обратно: {{ticket.fromDestination.originTime}}</div>
                    <a v-bind:href="ticket.link">Купить</a>
                </div>
            </div>
            <div class="hotels">
                
            </div>
            {% endraw %}
        </div>
    </div>
    <script src="static/scripts/script.js" type="text/javascript"></script>
</body>
</html>